{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if contact.manager == request.user %}
Update {{contact}}

{% else %}
You don't have access to this page!
{% endif %}

{% endblock title %}

{% block content %}
{% if contact.manager == request.user %}
<div class="container">
    <h2 class="heading font-weight-light text-center">Update {{contact}}</h2>
    <hr>
</div>
<div class="container w-25 card p-4 mt-4">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Update" class="w-100 text-white text-center my-2 btn btn-info">
    </form>
</div>

{% else %}
<div class="container">
      <h2 class="heading font-weight-light text-center">You don't have access to this page!</h2>
    </div>
{% endif %}

{% endblock content %}